<h2>
	<%= @airport_info[:airport] %>
</h2>

  <% if @rides.blank? %>
    There are currently no rides for this airport.
  <% else %>
    <div class="column airport-info">
      <div class="row header">
        <div class="col-xs-3">
					Flight Date
				</div>
				<div class="col-xs-3">
					Flight Time
				</div>
				<div class="col-xs-3">
					Shuttle Time
				</div>
				<div class="col-xs-3">
					# People Attending
				</div>
      </div>
			<% @rides.each do |ride| %>
				<%= link_to(ride) do %>
  				<div class="row">
  					<div class="col-xs-3">
  						<%= ride.flight_date %>
  					</div>
  					<div class="col-xs-3">
  						<%= ride.flight_time %>
  					</div>
  					<div class="col-xs-3">
  						<%= ride.shuttle_time %>
  					</div>
  					<div class="col-xs-3">
  						<%= ride.users.count %>
  					</div>
  				</div>
        <% end %>
			<% end %>

    </div>
  <% end %>
