<h1>Ride</h1>
<div class="ride-info">
	<b>Airport:</b> <%= @ride.airport %>
	<b>Flight Date:</b> <%= @ride.flight_date %> 
	<b>Flight Time:</b> <%= @ride.flight_time %>
	<b>Ride Time: </b> <%= @ride.shuttle_time %>
</div>

<% if current_user %>
<%= link_to "Join", join_ride_path, :method=> :post, :class=> "btn btn-default btn-sm" if !@ride.users.exists?(current_user.id) %>
<%= link_to "Leave", leave_ride_path, :method=> :delete, :class=> "btn btn-default btn-sm" if @ride.users.exists?(current_user.id)%>
 <%= link_to "Delete", @ride, :method => :delete,
                                       :confirm => "You sure?", :class=> "btn btn-default btn-sm" if @ride.owner_id == current_user.id%>
<% else %>
You must first login before joining this ride
<% end %>

<h1>Members</h1>
<% if @ride.users.blank? %>
	No one has joined this ride
<% end %>
<% @ride.users.each do |user| %>
	<div class="rider">
		<img src="<%= user.fbimage %>">
    <div class="rider-info">
      <%= user.name %>
    </div>
	</div>
<% end %>

<div class="fb-plugin">
	<div class="fb-comments" data-href="http://rideshare.com/rides" data-numposts="5" data-colorscheme="light"></div>
</div>
