<h1>Ride</h1>
<b>Airport:</b> <%= @ride.airport %>
<b>Flight Date:</b> <%= @ride.flight_date %> 
<b>Flight Time:</b> <%= @ride.flight_time %>
<b>Ride Time: </b> <%= @ride.shuttle_time %>

 <%= link_to "delete", @ride, :method => :delete,
                                       :confirm => "You sure?" if @ride.owner_id == current_user.id%>

<% if current_user %>
<%= link_to "Join this ride", join_ride_path, :method=> :post if !@ride.users.exists?(current_user.id)%>
<%= link_to "Leave this ride", leave_ride_path, :method=> :delete if @ride.users.exists?(current_user.id)%>
<% else %>
You must first login before joining this ride
<% end %>

<h1>Members</h1>
<% if @ride.users.blank? %>
	No one has joined this ride
<% end %>
<% @ride.users.each do |user| %>
	<img src="<%= user.fbimage %>">
<% end %>

<div>
	<div class="fb-comments" data-href="http://rideshare.com/rides" data-numposts="5" data-colorscheme="light"></div>
</div>
